*{
  font-family: 'Press Start 2P';
  font-size: 12px;
}

body{
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

input {
  color: #76c442;
  font-size: 1.2rem;
  width: 100% !important;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center !important;
  /*border: 1px solid blue;*/
  border-radius:  6px !important;
  margin-bottom: 10px !important;
  margin-right: 10px !important; 
  overflow: hidden !important;
}

.card p {
  padding: 5px !important;
  text-align: center !important;
}

.card img {
  max-height: 170px !important;
}

h1{
  font-size: 20px;
  padding-bottom: 20px;
}

::placeholder{
  color: #76c442;
}